
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');

:root{
    --primary-color:#f0f0f0;
    --primary-bg-color:#111217;
    --secondary-bg-color:#282925;
    --border-color:#28292E;
    --title-color:#9A9A9C;
    --text-color:#9A9A9C;
    --link-color:#9A9A9C;
    --icon-color:#c7c8c9;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
    vertical-align: baseline;
    list-style: none;
}


body{
    background:var(--primary-bg-color);
    font-family:"Inter", sans-serif;
}
a{
    text-decoration: none;
}

i{
    color:var(--icon-color);
    width: 1.5rem;
    height: 1.5rem;
}
.header{
    display: flex;
    width:100%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding:0.5rem 1rem;
    
}

.header__brand  .brand__logo{
    width:3.25rem;
    height:3.25rem;
    border-radius: 30px;
}

#toggleTheme{
    font-size:1.5rem;
    color:var(--primary-color)
}


.menu{
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background:var(--primary-bg-color);
}

.menu--mobile{
    width: 100vw;
    position: fixed;
    bottom:0;
    justify-content: space-between;
    border-top: 1px solid var(--border-color);

}

.menu__item{
    width:100vw;
}


.menu--mobile .menu__link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    flex:1 0 0;
}

.menu__link.active .menu__icon,
.menu__link.active  .menu__text{
    color:var(--primary-color);
    font-weight: 600;
}
.menu__icon,.menu__text{
    color:var(--text-color);
}
.menu__icon{
    font-size:1.5rem;
}
.menu__text{
    font-size:0.75rem;
    text-transform: uppercase;
}



@media(min-width:768px){
    .menu--mobile{
        display: none;
    }
}
